<!DOCTYPE html>
<html>
<head>
    <title>Smart Campus Platform</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

<header>
    <h1>Smart Campus Platform</h1>
    <p>One platform for smarter campus services</p>
</header>

<div class="container">

    <h2>Campus Services</h2>

    <div class="services">

        <div class="card">
            <h3>Tasks & Assignments</h3>
            <p>Manage academic tasks and assignments.</p>
        </div>

        <div class="card">
            <h3>Documents</h3>
            <p>Access and manage important campus documents.</p>
        </div>

        <div class="card">
            <h3>Announcements</h3>
            <p>View important college announcements.</p>
        </div>

        <div class="card">
            <h3>Complaints & Requests</h3>
            <p>Submit and track campus-related requests.</p>
        </div>

        <div class="card">
            <h3>Events</h3>
            <p>View upcoming campus events and activities.</p>
        </div>

    </div>

</div>

</body>
</html>
