<!DOCTYPE html>
<html>
<head>
    <title>Login - Smart Campus</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

<header>
    <h1>Smart Campus Platform</h1>
    <p>Login to your account</p>
</header>

<div class="container">

    <div class="card">

        <h2>Login</h2>
        <form method="POST" action="/login">
       <p>New student? <a href="/register">Create an account</a></p>
            <label>Email</label><br>
            <input type="email" name="email" required><br><br>

            <label>Password</label><br>
            <input type="password" name="password" required><br><br>

            <button type="submit">Login</button>
        </form>

    </div>

</div>

</body>
</html>
